<% layout('layouts/boilerplate') %>

<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Uh oh!</h4>
  <p>Something has gone wrong.</p>
  <hr />
  <p class="mb-0">The error was: <%= err.message %> .</p>
</div>
